extends layout

block content
    div(id="mainPage")
            each post in posts
                li 
                    div(class="textPost")
                        p #{post.content}
                        p #{post.user}
                        p #{post.score}
                        form(id="Vote" method="post" action="/")
                            input(type="hidden" name="id" value=post._id)
                            input(type="hidden" name="currentScore" value=post.score)
                            input(type="submit" name="Vote" value="Up")
                            input(type="submit" name="Vote" value="Down")
