extends layout

block content
    div(id="mainPage")
        div(id="mainDesc")
            p yeet
        div(id="descBox")
            div(id="subDesc")
               a(href="/textpost")
                    p Plug Something

        ul
            each post in posts
                li 
                    div(class="textPost")
                        p _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
                        p #{post.TextBody}
                        p #{post.UserID}
                        p #{(post.Likes-post.Dislikes)}
                        ul
                            each comment in comments
                                if comment.PostID == post._id
                                    p _____________________________________________________________________
                                    li #{comment.CommentTextBody}
                        form(id="Vote" method="post" action="/feed")
                            input(type="hidden" name="id" value=post.PostID)
                            input(type="hidden" name="dbID" value=post._id)
                            input(type="hidden" name="currentScoreUp" value=post.Likes)
                            input(type="hidden" name="currentScoreDown" value=post.Dislikes)
                            input(type="submit" name="Vote" value="Up")
                            input(type="submit" name="Vote" value="Down")
                            input(type="submit" name="Vote" value="comment")
