extends layout

block content
    div(id="mainPage")
        div(id="mainDesc")
            p yeet
        div(id="descBox")
            div(id="subDesc")
               a(href="/post")
                    p Plug Something

        ul
            each post in posts
                li 
                    div(class="textPost")
                        p #{post.content}
                        p #{post.user}
                        p #{post.score}
                        ul
                            each comment in comments
                                if comment.contextPostID == post._id
                                    li #{comment.content}
                        form(id="Vote" method="post" action="/feed")
                            input(type="hidden" name="id" value=post._id)
                            input(type="hidden" name="currentScore" value=post.score)
                            input(type="submit" name="Vote" value="Up")
                            input(type="submit" name="Vote" value="Down")
                            input(type="submit" name="Vote" value="comment")
