div(class="textPost")
                        //- - console.log(post)
                        if isMod
                            p Report Count: #{post.Reports}
                            form(id="RemovePost" method="post" action="/feed")
                                input(type="hidden" name="id" value=post.PostID)
                                input(type="hidden" name="dbID" value=post._id)
                                input(type="submit" name="Vote" value="Remove Post")
                        h5 #{post.Category}
                        if post.Image != null
                            img(src='data:image/png;base64,'+post.Image class="postImage")
                        p #{post.TextBody}
                        h6 #{post.Username}
                        p(id="ScoreUp"+post.PostID) #{(post.Likes)}
                        p(id="ScoreDown"+post.PostID) #{(post.Dislikes)}
                        //- ul
                        //-     each comment in comments
                        //-         if comment.PostID == post._id
                        //-             p _____________________________________________________________________
                        //-             li #{comment.CommentTextBody}
                        button(type="button"  onclick="like("+post.PostID+")") Like
                        button(type="button"  onclick="dislike("+post.PostID+")") Dislike
                        button(type="button" onclick="report("+post.PostID+")" ) Report
                        form(id="Vote" method="post" action="/feed")
                            input(type="hidden" name="id" value=post.PostID)
                            input(type="hidden" name="dbID" value=post._id)
                            input(type="hidden" name="currentScoreUp" value=post.Likes)
                            input(type="hidden" name="currentScoreDown" value=post.Dislikes)
                            input(type="hidden" name="reports" value=post.Reports)
                            input(type="submit" name="Vote" value="Comment")
